h2,h3{
  text-align: center;
}

.container-Task7{
  padding-left: 300px;
  padding-top: 30px;
}

.text-number{
  padding-left: 70px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.btn-task7{
  margin-left: -10px;
  margin-right: 20px;
  padding: 10px;
}

.task8{
  margin-left: 330px;
  margin-top: 30px;
}